.mhero,
.mad {
	--height: 400px;

	margin-top: var(--fs-sm);
	display: grid;
	grid-template-areas: 1fr / 1fr;
	min-height: var(--height);
	overflow: hidden;
	border-radius: 30px;
	isolation: isolate;
	color: var(--clr-white);

	&-picture {
		display: contents;
	}

	&-image,
	&-content,
	&:before {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}


	&:before {
		content: "";
		background: linear-gradient(188.03deg, rgba(0, 0, 0, 0) -29.32%, #000000 85.28%);
	}


	&-image {
		object-fit: cover;
		height: var(--height);
		width: 100%;
		z-index: -1;
	}

	&-content {
		align-self: end;
		padding: 3rem 1.25rem 1.5rem;
		display: flex;
		flex-flow: row wrap;
		gap: 1rem;
		justify-content: space-between;
		align-items: start baseline;


		@media (min-width: 768px) {

			padding: 2rem 2.5rem;
		}
	}


	&-heading {
		font-size: var(--fs-md);
		font-weight: 700;
		line-height: 1;

		@media (min-width: 768px) {
			font-size: var(--fs-xl);
		}
	}


	&-text {
		font-size: var(--fs-xs);
		margin-top: 0.5rem;
	}


	&-button {
		padding: 0.75rem 1.75rem;
		background: var(--clr-white);
		color: var(--clr-black);
		border-radius: 5vmax;
		font-size: var(--fs-2xs);
		font-weight: 700;
		border: none;
		box-shadow: 0 2px 4px -3px hsla(0, 0%, 0%, 0.04);
		align-self: end;
		text-decoration: none;
	}


}


.mad {
	--height: 300px;
	margin-top: var(--fs-sm);


	&-heading {
		font-size: var(--fs-lg);
	}
}


.mpicks {
	margin-top: var(--fs-md);

	&-heading {
		font-size: var(--fs-md);
		font-weight: 600;
	}



	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, auto));
		gap: 1.5rem;
		margin-top: 1.25rem;
	}

	&-li {
		display: contents;
	}

}




.mfoot {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 30px 25px;
	margin-top: var(--fs-md);
	font-size: var(--fs-xs);
	color: var(--clr-black);

	@media (max-width: 800px) {
		grid-template-columns: auto;
		grid-template-rows: repeat(2, auto);
	}


	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border: 5px solid var(--clr-white);
		box-shadow: 0 2px 5px -2px hsla(0, 0%, 0%, 0.04);
		border-radius: 20px;

		@media (min-width: 1000px) {
			width: 100%;
			aspect-ratio: 6 / 5;
		}

		@media (max-width: 800px) {
			height: 500px;
		}
	}


	&-content {
		display: grid;
		gap: 0.85rem;
		width: 100%;
		align-self: start;
	}


	&-list {
		list-style: none;
		display: contents;
		margin-top: 1rem;
		font-size: var(--fs-sm);
		line-height: 0.95;
	}

	&-li {
		border-bottom: 1px solid var(--clr-dark-gray);
		padding: 0.35rem 0.25rem 0.6rem;
		display: flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: space-between;
	}


	&-link {
		display: flex;
		text-decoration: none;
		color: var(--clr-black);

	}



	&-heading {
		font-weight: 500;
		font-size: var(--fs-md);
		margin-bottom: 0.75rem;
	}


}
