.ploading {
  min-height: 80vh;
  display: grid;
  gap: 0.25rem;
  place-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: var(--fs-xs);
}

.head {
  background: var(--clr-primary);
  color: var(--clr-black);

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &-logo {
    height: 16px;
  }

}


.head-nav {

  @media (min-width: 980px) {
    display: contents;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &.text {
      gap: 1rem;
    }
  }

  &-li {
    display: contents;
  }

  &-link {
    color: var(--clr-black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    text-decoration: none;
    font-weight: 500;

    &:focus,
    &:hover {
      text-decoration: 3px underline;
    }
  }

  &-svg {
    width: var(--fs-sm);
  }
}



.foot {
  margin-top: 2rem;
  background: var(--clr-primary);
  color: var(--clr-black);

  &-wrapper {
    padding: 2rem 0;
    display: grid;
    gap: 1rem;
  }

  &-logo {
    height: 16px;
  }

  &-text {
    margin-top: 0.25rem;
    font-size: var(--fs-xs);
  }

  &-hr {
    border-top: 1px solid var(--clr-dark-gray);
    border-width: 1px 0 0;
    margin-top: 1rem;
  }

  &-linkbar {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
    gap: 1rem 0.5rem;
    margin-top: 0.5rem;

    @media (min-width: 500px) {
      align-items: center;
    }
  }


  &-social-list,
  &-link-list {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    list-style: none;

    @media (max-width: 768px) {
      width: 100%;
      align-items: start;
      justify-content: start;
    }
  }

  &-social-li {
    display: contents;
  }

  &-social-link {
    color: var(--clr-black);

    &:hover,
    &:focus-visible {
      filter: drop-shadow(0px 3px 5px var(--clr-dark-gray))
    }
  }

  &-social-svg {
    width: 2rem;
  }

  &-link-list {
    gap: 1rem;
    flex-flow: column;
    align-items: start;

    @media (min-width: 500px) {
      flex-flow: row nowrap;
    }
  }

  &-link-text {
    color: var(--clr-black);
    text-decoration: none;

    &:focus-visible,
    &:hover {
      text-decoration: 3px underline var(--clr-black);
    }

  }
}
